<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318344122239-8cm408djind7727pciuk62i3rf3drfs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318344122239-8cm408djind7727pciuk62i3rf3drfs7</string>
	<key>API_KEY</key>
	<string>AIzaSyDdjz9DFsxZkwLJb6cxkNdkUImO_qOojko</string>
	<key>GCM_SENDER_ID</key>
	<string>318344122239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smarttenants.smartTenant</string>
	<key>PROJECT_ID</key>
	<string>son-demo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>son-demo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318344122239:ios:681ec10e1457bb056c144a</string>
	<key>DATABASE_URL</key>
	<string>https://son-demo-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>